<html>
	<head>
		<title>Andrew & Jenny's Life Timeline</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="timeline/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="timeline/assets/css/bootstrap.min.css" />
		<link rel="stylesheet" href="timeline/assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="timeline/assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="timeline/assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

    <!-- Intro -->
    <section id="intro" class="wrapper style1 fullscreen fade-up">
      <div class="inner">
        <h1>Andrew & Jenny</h1>
        <p>Yearly highlights in an easy-to-browse web interface.</p>
        <ul class="actions">
          <li><a href="#years" class="button scrolly">Let's Go</a></li>
        </ul>
      </div>
    </section>

    <div id="years" class="wrapper style-dark years">
{% for year in years %}
      <div class="py-5">
        <div class="container year-card rounded">
          <div class="row title">
            <div class="year col-md-auto ">
              <h1 class="my-0 py-0">{{ year.year }}</h1>
            </div>
            <div class="highlight col">
              <h2 class="content my-0 py-0">{{ year.highlight }}</h2>
              
            </div>
          </div>
          <div class="row">
            {% for category in year.categories %}
            <div class="col p-4">
              <span class="icon major 
                {% if category.category == 'Travel' %}fa-plane{% endif %}
                {% if category.category == 'Work' %}fa-suitcase{% endif %}
                {% if category.category == 'Other' %}fa-star{% endif %}
              "></span>
              <h3 class="category-header">{{ category.category }}</h3>
              <ul class="list-group list-group-flush">
                {% for element in category.elements %}
                <li class="list-group-item pl-2">{{ element }}</li>
                {% endfor %}
              </ul>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
{% endfor %}
    </div>

		<!-- Footer -->
    <footer id="footer" class="wrapper style2-alt">
      <div class="inner">
		    <ul class="menu">
          <li>Made with woo <span class="icon fa-heart"></span> by Andywoo</li>
	      </ul>
		  </div>
	  </footer>

		<!-- Scripts -->
    <script src="timeline/assets/js/jquery.min.js"></script>
    <script src="timeline/assets/js/jquery.scrollex.min.js"></script>
    <script src="timeline/assets/js/jquery.scrolly.min.js"></script>
    <script src="timeline/assets/js/skel.min.js"></script>
    <script src="timeline/assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="timeline/assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="timeline/assets/js/main.js"></script>
  </body>
</html>
