<!DOCTYPE HTML>
<!--
    Nav Bars: Prologue, Future Imperfect, Forty, Spectral
    Cover Page: Eventually
-->
<html>
	<head>
		<title>Jenny & Andrew Photo Journal</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="pages/story/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="pages/story/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="divided">

				<!-- Banner -->
					<section class="banner style5 color1 invert orient-left content-align-center image-position-center fullscreen onload-content-fade-in visible">
						<div class="content">
							<h1>Jenny & Andrew</h1>
                            <p class="major">Our story in photos</p>
							<ul class="actions stacked">
								<li><a href="#first" class="button big wide smooth-scroll">Get Started</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="pages/story/images/banner.jpg" alt="" />
						</div>
					</section>

				<!-- Categories -->
					<section class="wrapper style1 align-center">
						<div class="inner" id="first">
							<h2>Choose your adventure</h2>
							<p>Explore memories by category...</p>
						</div>

						<!-- Gallery -->
							<div class="gallery style1 big onload-fade-in">
                                {% for c in root.categories %}
								<article>
                                    <a href="#{{ root[c].title | replace(" ", "") }}" class="image smooth-scroll">
                                        <img src="pages/story/images/gallery/fulls/{{ c }}.png" alt="" />
									</a>
									<div class="caption">
                                        <h3>{{ root[c].title }}</h3>
                                        <p class="subtitle">{{ root[c].summary }}</p>
                                        <!--
										<ul class="actions fixed">
											<li><span class="button small">More</span></li>
										</ul>
                                        -->
									</div>
								</article>
                                {% endfor %}
							</div>
                        <!-- Subtitle -->
                            <div class="inner">
                                <!-- <h2>By Year</h2> -->
                                <p>...or by year.</p>
                            </div>
						<!-- Gallery -->
							<div class="gallery style1 small onload-fade-in">
                                {% for y in root.years %}
								<article>
                                    <a href="#{{ y }}" class="image smooth-scroll">
                                        <img src="{{ root.events[root[y].event_titles[0]].thumb_url }}" alt="" />
									</a>
									<div class="caption">
                                        <h3>{{ y }}</h3>
                                        <p></p>
                                        <!--
										<ul class="actions fixed">
											<li><span class="button small">More</span></li>
										</ul>
                                        -->
									</div>
								</article>
                                {% endfor %}
							</div>

					</section>

                {% for c in root.categories %}
				<!-- Section -->
                    <section class="wrapper style1 align-center" id="{{ root[c].title | replace(" ", "") }}">
						<div class="inner">
                            <h2>{{ root[c].title }}</h2>
                            <p>{{ root[c].summary }}</p>
						</div>

						<!-- Gallery -->
							<div class="gallery style1 small onload-fade-in lightbox">
                                {% for title in root[c].event_titles %}
								<article>
                                    <a href="../{{ root.events[title].full_url }}" class="image">
                                        <img src="../{{ root.events[title].thumb_url }}" alt="" />
                                        <span class="album-url">{{ root.events[title].album_url }}</span>
									</a>
									<div class="caption">
                                        <h3>{{ root.events[title].title }}</h3>
                                        <p class="subtitle">{{ root.events[title].date }}</p>
									</div>
								</article>
                                {% endfor %}
						    </div>

					</section>
                {% endfor %}

                {% for y in root.years %}
				<!-- Section -->
                    <section class="wrapper style1 align-center" id="{{ y }}">
						<div class="inner">
                            <h2>{{ y }}</h2>
                            <p></p>
						</div>

						<!-- Gallery -->
							<div class="gallery style1 small onload-fade-in lightbox">
                                {% for title in root[y].event_titles %}
								<article>
                                    <a href="../{{ root.events[title].full_url }}" class="image">
                                        <img src="../{{ root.events[title].thumb_url }}" alt="" />
                                        <span class="album-url">{{ root.events[title].album_url }}</span>
									</a>
									<div class="caption">
                                        <h3>{{ root.events[title].title }}</h3>
                                        <p class="subtitle">{{ root.events[title].date }}</p>
									</div>
								</article>
                                {% endfor %}
						    </div>

					</section>
                {% endfor %}

				<!-- Footer -->
					<footer class="wrapper style1 align-center">
						<div class="inner">
                            <p>Made with <span class="fa fa-heart"></span> by Andywoo</p>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="pages/story/assets/js/jquery.min.js"></script>
			<script src="pages/story/assets/js/jquery.scrollex.min.js"></script>
			<script src="pages/story/assets/js/jquery.scrolly.min.js"></script>
			<script src="pages/story/assets/js/browser.min.js"></script>
			<script src="pages/story/assets/js/breakpoints.min.js"></script>
			<script src="pages/story/assets/js/util.js"></script>
			<script src="pages/story/assets/js/main.js"></script>

            <!-- Begin Inspectlet Asynchronous Code -->
            <script type="text/javascript">
            (function() {
            window.__insp = window.__insp || [];
            __insp.push(['wid', 700800345]);
            var ldinsp = function(){
            if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js?wid=700800345&r=' + Math.floor(new Date().getTime()/3600000); var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
            setTimeout(ldinsp, 0);
            })();
            </script>
            <!-- End Inspectlet Asynchronous Code -->

	</body>
</html>
